h1 {
  color: darkolivegreen;
  font-size: 50px;
}

.nav {
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  position: relative;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

/* .clickable {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 1;
} */

.nav-container {
  width: 100%;
  position: relative;
  flex-wrap: wrap;

  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: black solid 2px;
}

.navCard {
  width: 115px;
  display: flex;

  /* border: black solid 3px; */
  height: 20px;
  border-radius: 2em;
  /* background-color: rgb(147, 172, 247); */
  margin: 20px;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.navCard p {
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.navCardName {
  /* width: 200px; */

  font-size: 50px;
  /* height: 80px; */
  border-radius: 2em;

  margin: 20px;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  text-align: center;
}
